html, body{
    font-family: 'Ubuntu', sans-serif;
}
pre, kbd{
    font-family: 'Ubuntu Mono', monospace;
}

.onlyAfterAuth{
    display: none;    
}

#authenticated{
    font-family: 'Ubuntu Mono', monospace;
    color: orange;
}

#random{
    padding: 5px;
    background: purple;
    color: white;
    text-decoration: none;
}

#articleCount, #timeToRead, #wordsToRead{
    font-family: 'Ubuntu Mono', monospace;
}

#articlesTable{
    display: none;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    padding: 5px;
}
th {
    padding-right: 15px; /* for sorTable.js */
}

td.words{
    text-align: center !important; 
}
td.minutes{
    text-align: right !important;
}